<section class="SDG-button-container">
    <button class="overslaan-button" type="button" id="overslaan-button">Overslaan</button>
    <button class ="submit-button" type="submit" id="submit-button">Kies deze sdg's</button>
</section>