<section class="SDG-button-container">
    <button class="overslaan-button" type="button" id="overslaan-button">Overslaan</button>
    <button class ="submit-button" type="submit" id="submit-button">Kies deze sdg's</button>
</section>

<audio id="clickSound"src="/202313__7778__click-2.mp3" preload="auto"></audio>