<details>
    <summary>Our vision</summary>
    <p>piece about the vision of the hand-footprint calculator.</p>
  </details>
  <details>
      <summary>Step-by-step plan</summary>
      <p>Which steps do you have to go through for this calculator?</p>
  </details>
  <details>
      <summary>What are SDG's</summary>
      <h3>What are SDG's</h3>
      <p>piece about what SDGs are and why this belongs to this calculator.</p>
      <h3>Which SDG's are there</h3>
      <p>All SDG's at a glance</p>
      <%- include('./sdgs-login') %>
  </details>
  <details>
      <summary>What are stakeholders</summary>
      <h3>What are stakeholder</h3>
      <p>iece about what SDGs are and why this belongs to this calculator.</p>
  
      <h3>Why are stakeholders important</h3>
  </details>