<header>
    <div>
        <% if (companies && companies.name) { %>
            <p><%= companies.name %></p>
        <% } else { %>
            <p>Company Name Not Available</p>
        <% } %>
        <small>Hoeveel jaar lid</small>
    </div>
</header>