<%- include('partials/head', {current:'gegevens-form'}) %>
<header>
<h1>gegevens</h1>
<form action="/sdg">
<button class ="submit-button play-sound-button" type="submit" id="submit-button">Kies deze sdg's</button>
</form>
</header>
<main>

</main>
<footer></footer>
<%- include('partials/foot') %>