<%- include('partials/head', {current: 'gegevens-form' }); %>
    <%- include('partials/vragenlijst_header', {current: 'vragenlijst' }); %>

        <header>
            <h1>Gegevens</h1>
        </header>
        <main>

            <article class="stakeholder-form">

                <form action="/sdg">

                    <article class="enter-name">

                        <input type="text">
                        <label for="name">Naam</label>

                    </article>

                    <article class="enter-description">

                        <input type="text">
                        <label for="description">Beschrijving</label>

                    </article>

                    <button type="submit" value="Submit"> Submit </button>

                </form>


            </article>

        </main>
        <footer></footer>
        <%- include('partials/foot') %>