<%- include('partials/head', {current: 'gegevens-form' }); %>
    <%- include('partials/vragenlijst_header', {current: 'vragenlijst' }); %>

        <header>
            <h1>Gegevens</h1>
        </header>
        <main>

            <article class="stakeholder-form">

                <form action="/url" method="POST">

                    <article class="enter-name">

                        <p>Voeg naam Stakeholder toe</p>
                        <input type="text" placeholder="Typ hier..">

                    </article>

                    <article class="enter-description">

                        <p>Voeg beschrijving toe</p>
                        <input type="text" placeholder="Typ hier..">

                    </article>

                    <button type="submit" value="Submit" />

                </form>


            </article>

        </main>
        <footer></footer>
        <%- include('partials/foot') %>