<%- include('partials/head', {current: 'vragenlijst'}); %>
<%- include('partials/vragenlijst_header', {current: 'scores'}); %>
<main>
        <fieldset>
            <legend>Scores toevoegen</legend>
            <i>Van de gekozen sdgs score van -5 tot 5</i>
            <div class="sdgs selected">
                <%- include('partials/selected_sdgs'); %>
            </div>
        </fieldset>
</main>
<footer>

</footer>
<%- include('partials/foot') %>