<%- include('partials/head', {current: 'vragenlijst'}); %>
<%- include('partials/vragenlijst_header', {current: 'scores'}); %>
<main>

    <form action="/done-form" method="post">
        <fieldset>
            <legend>Add scores</legend>
            <i>to the chosen SDG's from -5 to 5</i>
            <div class="sdgs selected">
                <%- include('partials/selected_sdgs'); %>
            </div>
        </fieldset>
        <section class="SDG-button-container">
            <a href="/sdg"> < Back</a>
            <div>
              <button class="overslaan-button play-sound-button" type="button" id="overslaan-button">Skip</button>
              <button class ="submit-button play-sound-button" type="submit" id="submit-button">Confirm score</button>
            </div>
        </section>
    </form>
</main>
<footer>

</footer>
<%- include('partials/foot') %>