<%- include('partials/head', {current: 'vragenlijst'}); %>
<%- include('partials/vragenlijst_header', {current: 'scores'}); %>
<main>
        <fieldset>
            <legend>Scores toevoegen</legend>
            <i>Van de gekozen sdgs score van -5 tot 5</i>
            <div class="sdgs selected">
                <%- include('partials/selected_sdgs'); %>
            </div>
        </fieldset>

        <footer>
            <a href="/klant-toevoegen-sdgs"> < Terug</a>
            <div>
                <a href="/dashboard" class="skip">Overslaan</a>
                <button class ="submit-button play-sound-button" type="submit" id="submit-button">Kies deze score</button>
                <audio id="clickSound"src="/202313__7778__click-2.mp3" preload="auto"></audio>
            </div>
        </footer>
</main>
<footer>

</footer>
<%- include('partials/foot') %>