<%- include('partials/head',{current: 'vragenlijst'}) %>
<%- include('partials/vragenlijst_header', {current: 'sdgs'}); %>
<main>
  <form class="SDG-pagina" id="SDG-pagina" action="/score-form" method="POST">
      <section class="SDG-pagina-text">
        <div class="container">
          <h2 tabindex="1">
            Which SDGs are being addressed? <span>positive</span> contribution because these people work at your company?</h2>
          <p tabindex="2">For example, consider the fact that your company pays wages, which helps SDG 1 and 2. Or look at the working conditions (desk, chair, lighting, working hours) that help achieve SDG 3.</p>
          <p class="important-heading" tabindex="3">Choose a <span>MINIMUM</span> of 3 SDG's for your stakeholder</p>
        </div>
      </section>
      <section class="SDGs">
        <%- include('partials/sdgs-login') %>
      </section>
      <section class="SDG-button-container">
        <a href="/gegevens-form/JUMBO"> < Back</a>
        <div>
          <button class="overslaan-button play-sound-button" type="button" id="overslaan-button">Skip</button>
          <button class ="submit-button play-sound-button sdg-submit" type="submit" id="submit-button">Choose these SDG's</button>
        </div>
      </section>
  </form>
</main>
<audio id="clickSound"src="/202313__7778__click-2.mp3" preload="auto"></audio>
<%- include('partials/foot') %>