/* General styles */
:root {
    --primary-color: #ff5733; /* Updated primary color */
    --text-color: #333; /* Dark gray */
}

html {
    scroll-behavior: smooth;
}

body {
    color: var(--text-color);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background: radial-gradient(circle, #f5f5f5, #dcdcdc); /* Light gray to darker gray */
}

/* Login and Signup form styles */
.container-register {
    display: flex;
    justify-content: center;
    height: 100vh;
}

.Register-form,
.Login-form {
    width: 100%;
    max-width: 400px; /* Adjust max-width as needed */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    overflow-y: auto;
    box-sizing: border-box;
    height: 100vh;
    margin-bottom: 20px; /* Add some space between forms */
}

.form-text-input {
    padding: 20px;
}

.form-text-input a {
    color: var(--primary-color);
}

.Register-form h1,
.Login-form h1 {
    font-size: 35px;
    margin-top: 15px;
    margin-bottom: 0;
}

h2 {
    font-size: 35px;
}

h3 {
    font-size: 25px;
    font-weight: bold;
}

.Register-form span,
.Login-form span {
    color: var(--primary-color); /* Green */
    font-size: 40px;
}

.Register-side span {
    color: var(--primary-color);
}

input[type="text"],
input[type="password"],
input[type="email"] {
    width: 100%;
    padding: 7px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

/* Style the select box */
#companySelect {
    width: 100%;
    padding: 7px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
  }
  
  /* Style the options */
  #companySelect option {
    font-size: 16px; /* Adjust font size if needed */
  }
  

.toggle-password {
    position: absolute;
    right: 10px;
    top: 40%;
    transform: translateY(-50%);
    cursor: pointer;
}

.password-container {
    position: relative;
}

.signup-btn,
.register-btn {
    width: 100%;
    background-color: var(--primary-color);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.2s;
}

.signup-btn:hover,
.register-btn:hover {
    background-color: #ff2f00;
    transform: scale(1.05); /* Slightly increase size on hover */
}

.signup-btn:active,
.register-btn:active {
    transform: translateY(2px); /* Move button down 2px when clicked */
}

label {
    display: block;
    text-align: left;
}

footer {
    text-align: center;
    padding: 20px 0;
}


.social-icons {
    list-style: none;
    padding: 0;
}

.social-icons li {
    display: inline-block;
    margin: 0 5px;
}

.social-icons li a {
    color: var(--primary-color);
    font-size: 20px;
}

.footer-bottom p {
    margin: 0;
    font-size: 14px;
    color: #666;
}

/* Content side styles */
.Register-side,
.Login-side {
    margin: auto;
    text-align: center;
    flex: 1; /* Occupy remaining space */
    max-width: 800px;
}


.Register-form {
    position: absolute;
    left: 0;
    top: 0;
}

.Login-form {
    position: relative;
    z-index: 1; /* Ensure it's above the sign-up form */
    transition: transform 1.5s ease; /* Smooth transition */
}

.Register-form {
    transition: transform 1.5s ease, visibility 1.5s linear 1.5s; /* Smooth transition */
}

.Login-form {
    transform: translateX(-500px); /* Initially off-screen to the right */
    transition: transform 1.5s ease; /* Smooth transition */
}

.show {
    transform: translateX(0); /* Move the login form into view */
}

.hide {
    transform: translateY(-700px); /* Move the register form off-screen */
}

.hidden {
    visibility: hidden; /* Hide the register form after delay */
}