@import url(style.css);

/* LAYOUT */
main {
    display: grid;
    grid-template-areas:
        "head head head"
        "company company company"
        "profile profile profile"
        "stakeholder stakeholder stakeholder";
    width: 90%;
    height: 100%;
}

header {
    grid-area: head;
    font-size: 1.2em;
    font-family: var(--heading);
    letter-spacing: .9em;
    text-align: center;
    text-decoration-line: underline;
    text-decoration-color: var(--accent-text-color);
    text-decoration-thickness: 15px;
    text-decoration-skip-ink: none;
    text-underline-offset: -15px;
    text-transform: uppercase;
}

.company-summary {
    display: grid;
    position: relative;
    grid-template-areas:
        "info info status";
    grid-area: company;
    margin: auto;
    box-shadow: var(--shadow);
    border-radius: var(--object-radius);
    padding: 1.5em;
    width: 70%;
    height: 350px;

    .company-background{
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;
        backdrop-filter: blur(25px); 
        border-radius: var(--object-radius);
        background-image: linear-gradient(-120deg, rgba(53, 52, 56, 0.3), rgba(56, 18, 82, 0.3));
        background-size: 24px 24px;
        background-color: transparent;
        width: 100%;
        height: 100%;
    }
    .company-information {
        grid-area: info;
        padding: 1em;

        h2 {
            margin-left: 2em;
            text-align: left;
        }
    }

    .profile-status {
        grid-area: status;
        margin-top: 1em;
        margin-right: 1em;
        text-align: right;
    }
}

.company-status {
    grid-area: profile;
    margin: auto;
    padding: 2em;
    text-align: center;
}

.stakeholders-list {
    grid-area: stakeholder;
    margin-left: 2em;
    h2{
        margin-left: 2em;  
        text-transform: uppercase;
    }

.stakeholder{
    display: inline-block;
    position: relative;
    margin: 8px;
    box-shadow: var(--shadow);
    border-radius: var(--object-radius);
    padding: 16px;
    width: 300px;
    height: 300px;
    overflow: hidden;

    .stakeholder-background{
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;
        background-image: linear-gradient(120deg, rgba(53, 56, 61, 0.3),rgba(18, 83, 78, 0.3));
        background-color: transparent;
        backdrop-filter: blur(100px);
        width: 100%;
        height: 100%;
    }
    .stakeholder-status{
        margin-top: 2em;
        margin-inline: 3em;
    }
    .sdg-list{
        margin-top: 40px;
        margin-inline: 16px;
        overflow-x: scroll;
        ul{
            display: flex;
            flex-direction: row;
            list-style: none;

            img{
                border-radius: var(--btn-radius);
            }
        }
    }

    .edit{
        position: absolute;
        right: 0;
        bottom: 0;
        float: right;
        border: none;
        border-radius: 8px 0 8px 0 ;
        background-color: rgba(31, 6, 51, 0.7);
        padding: var(--btn-padding);
        color: var(--text-color);
    }
}

}
.profile-status-bar[value] {
    --w: 120px;
    --color:
        linear-gradient(red 0 0) 0 /calc(var(--w)*.3 - 100%) 1px,
        linear-gradient(orange 0 0) 0 /calc(var(--w)*.6 - 100%) 1px,
        green;
    --background: white;

    position: absolute;
    transform: rotate(-90deg);
    appearance: none;
    mask: radial-gradient(#0000 59%, #000 60% 70%, #0000 71%);
    border-radius: 50%;
    background: var(--background);
    width: 60%;
    height: 60%;
    overflow: hidden
}

.profile-status label {
    --w: 120px;
    display: inline-grid;
    position: relative;
    place-content: center;
    aspect-ratio: 1;
    width: var(--w);
    font-family: var(--heading);
}

.points[value] {
    --w: 12em;
    --color:
        linear-gradient(red 0 0) 0 /calc(var(--w)*.3 - 100%) 1px,
        linear-gradient(orange 0 0) 0 /calc(var(--w)*.6 - 100%) 1px,
        green;
    --background: white;

    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-mask:
        radial-gradient(circle closest-side, #000 98%, #0000 102%) 0/12.5% 100%,
        linear-gradient(90deg, #000 50%, #0000 0) 8%/25% 100%;
    appearance: none;
    mask: radial-gradient(circle closest-side, #000 98%, #0000 102%) 0/12.5% 100%,
        linear-gradient(90deg, #000 50%, #0000 0) 8%/25% 100%;
    margin: 0 10px;
    border: none;
    background: var(--background);
    width: var(--w)
}

.points[value]::-webkit-progress-bar {
    background: var(--background);
}

.points[value]::-webkit-progress-value {
    background: var(--color);
}

.points[value]::-moz-progress-bar {
    background: var(--color);
}

.company-status label {
    display: block;
    margin: 20px 0;
    font-family: var(--heading);
}