@import url(style.css);

nav {
    display: flex;
    position: sticky;
    top: 30%;
    flex-direction: column;
    border-radius: 0 12px 12px 0;
    background: #1a0835;
    padding: 1em 0;
    width: 125px;
    height: 250px;
    color: var(--text-color);
}

.nav-links {
    margin-top: 1em;
    width: 100%;

    ul {
        display: flex;
        position: relative;
        column-gap: 0.5em;
        flex-direction: column;
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    li {
        svg {
            stroke: var(--text-color);
            width: 1.75em;
            height: 1.75em;
        }

        a {
            display: flex;
            flex-grow: 1;
            justify-content: center;
            align-items: center;
            gap: 1.75em;
            padding: 0 1em;
            height: 3.5em;
            color: var(--text-color);
            font-size: 1.25em;
            text-decoration: none;
        }
        
        a:hover { color: #95c5fc; 
            svg { stroke: #95c5fc; color: #95c5fc; }
        }
    }
}