@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz,wdth,wght@8..144,62.5,300&display=swap');

:root{
    --bg-color:radial-gradient(at left bottom, hsl(248, 26%, 52%), hsl(248, 62%, 24%), hsl(249, 91%, 9%));
    --text-color:#f8f8f8;
    --accent-text-color:#242424;
    --accent:#067545;
    --heading: "roboto mono", Arial, Helvetica, sans-serif;
    --body-font: "roboto serif", Arial, Helvetica, sans-serif;
    --btn-radius:8px;
    --btn-padding:14px;
    --object-radius:12px;
    --shadow:8px -8px 8px 2px hsl(249, 91%, 9%);
}


body {
    box-sizing: border-box;
    margin: 0;
    background: radial-gradient(at left bottom, hsl(248, 26%, 52%), hsl(248, 62%, 24%), hsl(249, 91%, 9%));
    color: var(--text-color);
    font-family: var(--body-font);
}
